/*scrollbar*/
html {
  scrollbar-width: none;
}

#root {
  --off-white:rgb(235, 235, 235);
  min-height: 100vh; /* prevents layout shift on react load */
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  interpolate-size: allow-keywords;
}
body {
  background: repeating-linear-gradient(
    69deg,
    rgb(120,120,120),
    rgb(40,40,40),
    rgb(120,120,120)
  );
  background-attachment: fixed;
}
p {
  font-family: 'Verdana' , serif
}
h1, h2 {
  font-family: 'Georgia', sans-serif;
}




/*Hero section*/
@scope (header#intro) {
  /*Page header (Title and personal info)*/
  p {
    margin-inline: auto;
  }
}
/* Filter Nav */
@scope(main > header) {
  :scope {
    margin-top: 1rem;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  h2 {
    margin-bottom: 0.7rem;
    font-size: 1.5rem;
  }
  button {
    padding: 8px 12px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: rgb(0,0,0,0.2);
    color: var(--off-white);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  
  button:active {
    filter: opacity(0.1);
    border-color: grey;
  }
  button:hover {
    filter: brightness(1.1);
    border-color: white;
  }
  button.selected {
    background-color: var(--off-white);
    color: black;
    border-color: #0056b3;
  }
}

/*Projects*/
/***********Category sections of projects**************/
@scope (section) {
  :scope {
    margin-block: .1rem;
  }

  h2 {
    font-size: 2.4rem;
    width: fit-content;
    padding-inline: 1rem;
    margin-block: 0.45rem;
    margin-inline: auto;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(205,205,205,0.55);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    transition: all 0.3s ease;
    display: inline-block;

  }
  :scope > div {
    /*group of projects per category. collapsed and unseen*/
    height: 0;
    transition: height .5s, opacity .5s;
    overflow: clip;
    opacity: 0;
    padding: 0.5rem;
  }
  
}
/*Expanded*/
@scope (section.projects__category--expanded) {
  :scope {
    margin-inline: auto;
    border-radius: 16px;
  }
  h2 {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255,255,255,0.1);
  }
  :scope.projects__category--expanded > div {
  /*group of projects per category. expanded*/
  height: auto;
  opacity: 1;
  }
}

/*Project components*/
@scope (section > div > article) {
  :scope:not(:last-of-type) {
    margin-block-end: 1.3rem;
  }
  :scope:not(:last-of-type)::after {
    content: "";
    width: 55%;
    height: 1px;
    background-color: rgb(255,225,255,0.1);
    margin-block: 0.4rem;
    margin-inline: auto;
    display: block;
  }
}
@scope (footer.project__summary) {
  ul, ul li {
    display: inline-block;
    
  }
}